<html>
	<head>
		<title>Marine Mastin</title>
		</head>
		<body>
			<div>
			<p><h1>Design Projects</h1></p>
			<p><h2>Objet - Scenographie - Graphisme<h/2></p>
		<p><h3><a href="http://vercauterenf.free.fr/1300/sans-titre---3.html#homme">1300</a></h3> <h4><em>Objet :</em></h4> promouvoir la création artistique et le design auprès des acteurs culturels ; le but est de développer une pratique culturelle et créative sur le territoire Bordelais l’association propose un espace d’échange et d’interactions pour l’exercice de la création collaborative ; elle permet de mutualiser et croiser les différentes compétences des créateurs, regroupés autour d’une même vision. </p> </div>
		<br />

		 <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
		</body>

</html>